In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("/media/rghoshal/D4A6E10AA6E0EE44/UGP/datasets/sla.csv")
print(data)
precip = pd.read_csv("/media/rghoshal/D4A6E10AA6E0EE44/UGP/datasets/precip.csv")

data.insert(4,"precip",precip["precip"])

enso = pd.DataFrame(np.loadtxt("/media/rghoshal/D4A6E10AA6E0EE44/UGP/datasets/oni.txt"),columns=np.arange(13)).set_index(0).stack()
enso = pd.DataFrame(enso).rename(columns = {0:"enso"})
enso = enso.reset_index().rename(columns = {0:"year","level_1":"month"})
enso = enso.astype({"year":'int32'})
enso = enso[(enso["year"] >= 1993 ) & (enso["year"] < 1997 )]
enso["date"] = data["time"].unique()

newenso = pd.DataFrame(np.repeat(enso.values,520,axis=0))
newenso.columns = enso.columns

data.insert(5,"enso",newenso["enso"])
# data.to_csv("data.csv")
data

             time    lat     lon  sla
0      1993-01-15  -1.25   43.75  0.0
1      1993-01-15  -1.25   46.25  0.0
2      1993-01-15  -1.25   48.75  0.0
3      1993-01-15  -1.25   51.25  0.0
4      1993-01-15  -1.25   53.75  0.0
...           ...    ...     ...  ...
24955  1996-12-15  46.25   96.25  0.0
24956  1996-12-15  46.25   98.75  0.0
24957  1996-12-15  46.25  101.25  0.0
24958  1996-12-15  46.25  103.75  0.0
24959  1996-12-15  46.25  106.25  0.0

[24960 rows x 4 columns]

             time    lat     lon  sla    precip  enso
0      1993-01-15  -1.25   43.75  0.0  1.647459  0.09
1      1993-01-15  -1.25   46.25  0.0  2.560627  0.09
2      1993-01-15  -1.25   48.75  0.0  2.937700  0.09
3      1993-01-15  -1.25   51.25  0.0  3.374984  0.09
4      1993-01-15  -1.25   53.75  0.0  3.629688  0.09
...           ...    ...     ...  ...       ...   ...
24955  1996-12-15  46.25   96.25  0.0  0.180198 -0.49
24956  1996-12-15  46.25   98.75  0.0  0.161624 -0.49
24957  1996-12-15  46.25  101.25  0.0  0.194868 -0.49
24958  1996-12-15  46.25  103.75  0.0  0.095388 -0.49
24959  1996-12-15  46.25  106.25  0.0  0.077369 -0.49

[24960 rows x 6 columns]

In [4]:
from sklearn.linear_model import LinearRegression
import datetime as dt

In [11]:
import datetime as dt
data['time'] = pd.to_datetime(data['time'])
data['time'] = data['time'].map(dt.datetime.toordinal)

data = data.fillna(0)
# data["time"]

In [12]:
y = data["precip"]
x = data[["time","lat","lon","sla","enso"]]

msk = np.random.rand(len(x)) < 0.8

y_train = y[msk]
x_train = x[msk]
y_test = y[~msk]
x_test = x[~msk]

In [13]:
model = LinearRegression()

In [14]:
model.fit(x_train,y_train)

LinearRegression()

In [15]:
model.score(x_test,y_test)

0.25978184648867964