In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("/media/rghoshal/D4A6E10AA6E0EE44/UGP/datasets/sla3.csv")
precip = pd.read_csv("/media/rghoshal/D4A6E10AA6E0EE44/UGP/datasets/precip3.csv")

data.insert(4,"precip",precip["precip"])

enso = pd.DataFrame(np.loadtxt("/media/rghoshal/D4A6E10AA6E0EE44/UGP/datasets/oni.txt"),columns=np.arange(13)).set_index(0).stack()
enso = pd.DataFrame(enso).rename(columns = {0:"enso"})
enso = enso.reset_index().rename(columns = {0:"year","level_1":"month"})
enso = enso.astype({"year":'int32'})
enso = enso[(enso["year"] >= 2006 ) & (enso["year"] < 2019 )]
enso["date"] = data["time"].unique()

newenso = pd.DataFrame(np.repeat(enso.values,520,axis=0))
newenso.columns = enso.columns

data.insert(5,"enso",newenso["enso"])
data.to_csv("/media/rghoshal/D4A6E10AA6E0EE44/UGP/datasets/data3.csv")
data

             time    lat     lon  sla    precip  enso
0      2006-01-15  -1.25   43.75  0.0  0.002584 -0.79
1      2006-01-15  -1.25   46.25  0.0  0.041839 -0.79
2      2006-01-15  -1.25   48.75  0.0  0.253760 -0.79
3      2006-01-15  -1.25   51.25  0.0  0.547002 -0.79
4      2006-01-15  -1.25   53.75  0.0  0.997475 -0.79
...           ...    ...     ...  ...       ...   ...
81115  2018-12-15  46.25   96.25  0.0  0.153215  0.81
81116  2018-12-15  46.25   98.75  0.0  0.059969  0.81
81117  2018-12-15  46.25  101.25  0.0  0.099445  0.81
81118  2018-12-15  46.25  103.75  0.0  0.079326  0.81
81119  2018-12-15  46.25  106.25  0.0  0.054988  0.81

[81120 rows x 6 columns]

In [4]:
from sklearn.linear_model import LinearRegression
import datetime as dt

In [11]:
import datetime as dt
data['time'] = pd.to_datetime(data['time'])
data['time'] = data['time'].map(dt.datetime.toordinal)

data = data.fillna(0)
# data["time"]

In [12]:
y = data["precip"]
x = data[["time","lat","lon","sla","enso"]]

msk = np.random.rand(len(x)) < 0.8

y_train = y[msk]
x_train = x[msk]
y_test = y[~msk]
x_test = x[~msk]

In [13]:
model = LinearRegression()

In [14]:
model.fit(x_train,y_train)

LinearRegression()

In [15]:
model.score(x_test,y_test)

0.25978184648867964