In [3]:
import pandas as pd
import numpy as np

In [68]:
data = pd.read_csv("/media/rghoshal/D4A6E10AA6E0EE44/UGP/sla.csv")

precip = pd.read_csv("/media/rghoshal/D4A6E10AA6E0EE44/UGP/precip.csv")

data.insert(4,"precip",precip["precip"])

enso = pd.DataFrame(np.loadtxt("/media/rghoshal/D4A6E10AA6E0EE44/UGP/oni.txt"),columns=np.arange(13)).set_index(0).stack()
enso = pd.DataFrame(enso).rename(columns = {0:"enso"})
enso = enso.reset_index().rename(columns = {0:"year","level_1":"month"})
enso = enso.astype({"year":'int32'})
enso = enso[(enso["year"] >= 1993 ) & (enso["year"] < 1996 )]
enso["date"] = data["time"].unique()

newenso = pd.DataFrame(np.repeat(enso.values,520,axis=0))
newenso.columns = enso.columns

data.insert(5,"enso",newenso["enso"])
# data.to_csv("data.csv")
data

             time    lat     lon  SLA    precip  enso
0      1993-01-31  -1.25   43.75  0.0  0.204102  0.09
1      1993-01-31  -1.25   46.25  0.0  0.498913  0.09
2      1993-01-31  -1.25   48.75  0.0  0.993917  0.09
3      1993-01-31  -1.25   51.25  0.0  1.548956  0.09
4      1993-01-31  -1.25   53.75  0.0  1.448949  0.09
...           ...    ...     ...  ...       ...   ...
18715  1995-12-31  46.25   96.25  0.0  0.065571 -0.98
18716  1995-12-31  46.25   98.75  0.0  0.045687 -0.98
18717  1995-12-31  46.25  101.25  0.0  0.072847 -0.98
18718  1995-12-31  46.25  103.75  0.0  0.100346 -0.98
18719  1995-12-31  46.25  106.25  0.0  0.029671 -0.98

[18720 rows x 6 columns]

In [69]:
from sklearn.linear_model import LinearRegression

In [85]:
import datetime as dt
data['time'] = pd.to_datetime(data['time'])
data['time'] = data['time'].map(dt.datetime.toordinal)
data = data.fillna(0)

In [150]:
y = data["precip"]
x = data[["time","lat","lon","SLA","enso"]]

msk = np.random.rand(len(x)) < 0.8

y_train = y[msk]
x_train = x[msk]
y_test = y[~msk]
x_test = x[~msk]

In [151]:
model = LinearRegression()

In [152]:
model.fit(x_train,y_train)

LinearRegression()

In [153]:
model.score(x_test,y_test)

0.2656891953378864