In [2]:
import pandas as pd
import numpy as np

In [49]:
sla = pd.read_csv("sla.csv")

precip = pd.read_csv("precip.csv")

sla.insert(3,"precip",precip["precip"])

enso = pd.DataFrame(np.loadtxt("/media/rghoshal/D4A6E10AA6E0EE44/UGP/oni.txt"),columns=np.arange(13)).set_index(0).stack()
enso = pd.DataFrame(data).rename(columns = {0:"enso"})
enso = data.reset_index().rename(columns = {0:"year","level_1":"month"})
enso = data[(data["year"] >= 1993 ) & (data["year"] < 1996 )]

In [50]:
sla

             time    lat     lon    precip  SLA
0      1993-01-31  -1.25   43.75  0.204102  0.0
1      1993-01-31  -1.25   46.25  0.498913  0.0
2      1993-01-31  -1.25   48.75  0.993917  0.0
3      1993-01-31  -1.25   51.25  1.548956  0.0
4      1993-01-31  -1.25   53.75  1.448949  0.0
...           ...    ...     ...       ...  ...
18715  1995-12-31  46.25   96.25  0.065571  0.0
18716  1995-12-31  46.25   98.75  0.045687  0.0
18717  1995-12-31  46.25  101.25  0.072847  0.0
18718  1995-12-31  46.25  103.75  0.100346  0.0
18719  1995-12-31  46.25  106.25  0.029671  0.0

[18720 rows x 5 columns]

In [51]:
enso

       year  month   oni
516  1993.0      1  0.09
517  1993.0      2  0.30
518  1993.0      3  0.50
519  1993.0      4  0.67
520  1993.0      5  0.70
521  1993.0      6  0.57
522  1993.0      7  0.32
523  1993.0      8  0.25
524  1993.0      9  0.15
525  1993.0     10  0.10
526  1993.0     11  0.04
527  1993.0     12  0.06
528  1994.0      1  0.06
529  1994.0      2  0.07
530  1994.0      3  0.17
531  1994.0      4  0.31
532  1994.0      5  0.42
533  1994.0      6  0.41
534  1994.0      7  0.44
535  1994.0      8  0.43
536  1994.0      9  0.55
537  1994.0     10  0.74
538  1994.0     11  1.01
539  1994.0     12  1.09
540  1995.0      1  0.96
541  1995.0      2  0.72
542  1995.0      3  0.53
543  1995.0      4  0.30
544  1995.0      5  0.14
545  1995.0      6 -0.03
546  1995.0      7 -0.24
547  1995.0      8 -0.54
548  1995.0      9 -0.81
549  1995.0     10 -0.97
550  1995.0     11 -1.00
551  1995.0     12 -0.98